body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.navbar {
    /* padding: 0 0 4.5rem; */
    /* display: block; */
    background-color: khaki;
    text-align:right;
  }

  .i{
position:absolute;
left: 1100px;
bottom: 400px;
color:rgba(73, 72, 72, 0.219);
transform: rotate(-49deg);
overflow: hidden;

  }
  .mobile{
    position:absolute;
left:50px;
bottom: 80px;

    color:rgba(73, 72, 72, 0.199);
    transform: rotate(-60deg);   
    z-index: 0;;
  }


  .code{
    position:absolute;
    left: 450px;
    bottom: 350px;
    color:rgba(73, 72, 72, 0.212);
    z-index: 0;
  }



  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }
header{
    background-color: khaki;
    padding: 110px 100px;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:auto;
}
.hero{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    clear: both;
}
.hero::before{
    content: "Hi there!!!";
    background-color:orangered;
    padding:5px 10px;  
    position: relative;
    z-index: 1; 
}
h1{
    font-size: 40px;
    text-align: center;
    padding-bottom:20px;

}
.Test-heading h1, .s, .Pro-heading h1{
    font-size: 3rem;    
    letter-spacing: 3.5rem;
}

    
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:khaki;
}
p{
    text-align: center;
    font-size: 20px;
}

.nm{
    color: orangered;
    font-size: 60px;
}
image{
    float: left;
}
.portfolio{
    background-color: rgb(19, 19, 19);
    padding: 110px 100px;
    color:orangered;
    position: relative;
}
.Pro-heading{
    position: relative;
    padding-bottom: 20px;;
    text-align: center;
    text-transform: uppercase;
    color:rgba(128, 128, 128, 0.274);
}
.card-center{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#testimonials {
    background-color: peachpuff;
    /* background-image: url("download.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 55px 100px;
      
  }
  
  .Test-heading{
      position: absolute;
      right: 100px;
      font-weight: bolder;
      font-size: 20px;
      text-transform: uppercase;
      color: rgba(120, 121, 119, 0.192);
  }
  .testimonial-text {
    font-size: 1.4rem;
    text-align: center;
    width: 75%;
    color:black;
    margin: auto;
  }

  .testimonial-text::before{
      content:open-quote;
      color:orangered;   
      font-size: 5rem;  
      display: block; 
      text-align: left;
  }

  .testimonial-text::after{
    content:close-quote; 
    color:orangered ; 
    display: block;
    text-align: right;
    font-size: 5rem;
}
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }

  em{
      display: flex;
      justify-content: center;
  }

  .bottom-container{
      padding: 110px 100px;
      background-color: rgb(41, 41, 41);
      box-sizing: border-box;
      color:orangered;
      text-align: center;
  }
  .bottom-container h2{
      padding-bottom: 10px;
  }
  .s{
    position: absolute;
    padding-bottom: 20px;
    text-transform: uppercase;
    color:rgba(128, 128, 128, 0.096);
  }
.bottom-container a{
    color:whitesmoke;
    border-left:3px solid orangered;
    padding-right: 10px;
    padding-left: 5px;
}
.bottom-container p{
    color: whitesmoke;
}

 .footer{
     background-color: rgb(17, 17, 17);
     margin-bottom: 0;
 } 

 @media (max-width: 1028px) {

    .card-text, .testimonial-text, em, p, .bottom-container a{
        font-size: 0.5rem;
    }
    .Test-heading h1, .s, .Pro-heading h1{
        font-size: 2.2rem;    
        letter-spacing: .5rem;
        
    }
    .i{
        position:absolute;
        left: 250px;
        bottom: 500px;
        color:rgba(73, 72, 72, 0.219);
        transform: rotate(20deg);
        overflow: hidden;
        
          }
          .mobile{
            position:absolute;
        left:50px;
        bottom: 80px;
        
            color:rgba(73, 72, 72, 0.199);
            transform: rotate(-60deg);   
            z-index: 0;;
          }
        
        
          .code{
            position:absolute;
            left: 50px;
            bottom: 400px;
            color:rgba(73, 72, 72, 0.212);
            z-index: 0;
          }
    #testimonials {
        padding:10px;
    }
  }
  
